

$primary-color-900: #212529;
$primary-color-800: #343a40;
$primary-color-700: #495057;
$primary-color-600: #6c757d;
$primary-color-500: #adb5bd;
$primary-color-400: #ced4da;
$primary-color-300: #dee2e6;
$primary-color-200: #e9ecef;
$primary-color-100: #f8f9fa;

$secondary-color-900: #10002b;
$secondary-color-800: #240046;
$secondary-color-700: #3c096c;
$secondary-color-600: #5a189a;
$secondary-color-500: #7b2cbf;
$secondary-color-400: #9d4edd;
$secondary-color-300: #c77dff;
$secondary-color-200: #e0aaff;
$secondary-color-100: #F4E3FF;

$third-color-600: #ae3b31;
$third-color-500: #d64541;

$box-shadow-black-600: 0 10px 20px 1px rgba(0, 0, 0, 0.3);
$box-shadow-black-100: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
$box-shadow-black-anti-100: 0 5px 10px 1px rgba(0, 0, 0, 0.2) inset;
$box-shadow-violet-100: 0 0 100px 1px rgba(157,78,221,0.3);

%block{
  border-radius: 10px;
  //border: 1px solid $secondary-color-400;
  background-color: $primary-color-600;
  margin: 10px;
  padding: 10px;
}

%input_block{
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  width: 200px;
  box-sizing: border-box;
  transition: border-left 0.1s ease;
  &:focus{
    border-left: 4px solid $secondary-color-400;
  }
}

%button{
  cursor: pointer;
  background-color: $secondary-color-400;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  min-width: 100px;
  color: $secondary-color-100;
  transition: all 0.1s ease;
  &:hover{
    background-color: $secondary-color-500;
    box-shadow: $box-shadow-black-100;
    transform: translateY(1px);
  }
}

%spring_animation{
  animation: spring_animation 2s ease infinite;
}
@keyframes spring_animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}


%blur_background{
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  //animation: blur_background_appear 0.2s ease forwards;
}